body{
    background-color: black;
}
ul.nav{
    list-style: none;
    margin: 0px;
    
}
ul.nav li{
    float: right;
    
}
ul.nav li a{
    display: block;
    margin: 5px;
    padding: 20px;
    text-decoration: none; /* {الغاء الخط السفلي}
    */
    color: aliceblue;

} 
.m1{
    float: left;
}
div.p1 ul{
    font-size: 10px;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    list-style: none;
 }
 .pp{
    color: aliceblue;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 30px;
    
    
 }
  table {
      border-collapse: collapse;
      width: 70%;
      margin: 0% 0% 0% 25%;
      color: aliceblue;

      
    
    }
     td {
      border: 1px solid #444;
      padding: 40px;

      
    }
 td ,h2 {
      
      text-align: center;
      
    }
    td .p3{
        text-align: left;
    }
    div.sq2{
        width: 100px;
        height: 100px;
        background-color: rgb(176, 37, 181);
    }
    div.sq1{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: green;
         
        
    }
.pp{
     margin: 10px;
    padding: 1px;
}
    div.pp2{
         margin: 0% 0% -1% 11%;
     }
     div.im1{
        margin-left: 16%;
        color: aliceblue
     
     }
     div.im2{
        margin: -35% 0% 0% 50%;
        
        color: aliceblue
        
     
     }
     div.im3{
        margin: 5% 0% 0% 16%;
        color: aliceblue
     }
     div.im4{
        margin: -35% 0% 0% 50%;
        color: aliceblue
     }
     div.pp3{
        color: aliceblue;
      
        transform: rotate(-90deg);
   
     }
     .p4{
        color: aliceblue;
        text-align: center;
        margin: 0% 0% 0% -50%;
     }
     div.d2{
        text-align: center;
        transform: rotate(-90deg);
        color: aliceblue;
        margin: auto auto auto -30%;
     }
.im5{
    height: 150px ;
    width: 150px;
     margin: -50% auto auto -20%;

}
.d22{
    color: aliceblue;
    text-align: center;
    font-size: 10px;
    margin:  0% 0% 0% 40%;
}
.p5{
    font-size: 14px;
    margin:  2% 0% 0% 0%;
}
.p6{
    font-size: 10px;
    margin:  0% 0% 0% 3%;
}
.im6{
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin: -5% 0% 0% -18%;
}
.d3{
    text-align: center;
    color: aliceblue;
    transform: rotate(-90deg);
    margin:  0% 0% 0% -50%;
    font-size: 10px;
}
.im7{
    margin: 0% 0% 0% 30%;

}
.im8{
margin: 0% 0% 34% -10%;
}
.h7{
    color: aliceblue;
   margin: -20% 0% 0% 48%;
}
.d24{
    color: aliceblue;
    margin: 0% 0% 0% 50%;
}
.d4{
    color: aliceblue;
    transform: rotate(-90deg);
    text-align: center;
    margin: 0% 0% 0% -60%;
}
.im10{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    
}
.tb2{
    color: aliceblue;
}



    

